<div class="space-y-2 my-4">
  <label [for]="label.toLowerCase()">{{ label }}</label>

  <div class="relative">
    <input [type]="showPassword ? 'text' : 'password'" [id]="label.toLowerCase()" [formControl]="control"
      [placeholder]="placeholder"
      class="w-full text-[#7B8389]  border-transparent  py-3 border border-gray-300 rounded-md bg-[#ECF2F7] "
      [ngClass]="{ 'border-red-500': control.invalid && (control.dirty || control.touched) }" />
    <button type="button" (click)="togglePasswordVisibility()"
      class="absolute right-2 top-1/2 transform -translate-y-1/2 text-gray-500">
      <svg *ngIf="!showPassword" class="h-4 w-4" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-3 5c5 0 8-5 8-5s-3-5-8-5-8 5-8 5 3 5 8 5Z" />
      </svg>
      <svg *ngIf="showPassword" class="h-4 w-4" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M3 3l18 18m-9-6a3 3 0 0 1 0-6m6 6a3 3 0 0 0-6 0m0 0a3 3 0 1 1-6 0m12-6c-1-2-4-4-6-4s-5 2-6 4" />
      </svg>
    </button>
  </div>

  <ng-container *ngFor="let error of errorKeys">


    <div class="text-red-500 text-sm px-4 flex " *ngIf="hasError(error)">

      <svg width="16" height="16" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M11 7V8M11 10.5V15M11 21C16.5228 21 21 16.5228 21 11C21 5.47715 16.5228 1 11 1C5.47715 1 1 5.47715 1 11C1 16.5228 5.47715 21 11 21Z"
          stroke="#FF3363" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
      <p class="mx-2">{{ errorMessages[error] }}</p>

    </div>

  </ng-container>




</div>
src/app/Shared/Custom