/* styles.css */
.hero-background {
    background-image: url('/assets/images/background.png');
    background-size: cover; /* Ensures the image covers the entire element */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: 100vh; /* Full viewport height */
   
  }
._mx-auto{
    padding-left: 5rem;
    padding-right: 5rem;
}
.image_styles{
    background-size: cover; /* Ensures the image covers the entire element */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */ 
}

.overview {
    background-image: url('/assets/images/overlay.png');
    background-size: cover; /* Ensures the image covers the entire element */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */

  }
  .base_cover {
    background-image: url('/assets/images/base.jpeg');
    background-size: cover; /* Ensures the image covers the entire element */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */

  }