
<!-- <img src="./../assets/images/background.png" alt=""> -->
 <div class="hero-background ">
    <div class="">
        <app-header></app-header>
        <div class="  mt-16">
            <div class="flex">
                <section class="text-start p-6">
                    <p class="text-5xl font-extrabold text-gray-900">
                        New Way To Do <br>
                        <span class="text-purple-600 py-10  font-extrabold">Payment Method</span>
                    </p>
                    <p class="mt-8 text-gray-500 max-w-lg mx-auto">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    </p>
                    <div class="mt-6 flex justify-center gap-8">
                        <button class="px-6 py-3 text-white bg-blue-500 rounded-md shadow-md hover:bg-blue-600 font-semibold">
                            Download
                        </button>
                        <button class="px-6 py-3 text-blue-500 border border-blue-500 rounded-md shadow-md hover:bg-blue-100 font-semibold">
                            Learn More
                        </button>
                    </div>
                </section>
            </div>        </div>
    </div>
 </div>
