/* @import 'swiper/css'; */

@tailwind base;
@tailwind components;
@tailwind utilities;



/* In styles.css */
/* @import 'swiper/css'; */
/* @import 'swiper/css/navigation'; */
/* @import 'swiper/css/pagination'; */
/* @import 'swiper/css/autoplay'; */


@layer base {
  html, body {
    @apply font-sans;
  }
}

/* custom styles below */
app-text-input {
  padding-left: 0;
  border-style: hidden;
}

[type="text"] {
  padding-left: 0;
}

input {
  padding-left: 14px !important;
}

.fade-in {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-2px); }
  to { opacity: 1; transform: translateY(0); }
}
