@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom styles below */
app-text-input {
  padding-left: 0;
  border-style: hidden;
}

[type="text"] {
  padding-left: 0;
}

input {
  padding-left: 14px !important;
}
